<app-navbar></app-navbar>

<div class="container">

    <app-slider></app-slider>
  
    <div>
      <h1 class="d-flex justify-content-center"> Top 10 Sales Agents in AC Empire in September 2019 </h1>
    </div>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Agent's Name</th>
          <th scope="col">Location</th>
          <th scope="col">Sales(RM)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="#" class="text-reset" >Nazmi Faiz</a></td>
          <td>Penang </td>
          <td>RM20,000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Hazwan Bakri</td>
          <td>Johor</td>
          <td>RM18,899</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Safee Salee</td>
          <td>Putrajaya</td>
          <td>RM15,899</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Norshahrul Idlan</td>
          <td>Putrajaya</td>
          <td>RM15,899</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Brendan Gan</td>
          <td>Putrajaya</td>
          <td>RM14,000</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Wan Zack Haikal</td>
          <td>Putrajaya</td>
          <td>RM13,500</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Aidil Zafuan</td>
          <td>Putrajaya</td>
          <td>RM12,130</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Mahali</td>
          <td>Putrajaya</td>
          <td>RM10,460</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Mohd Farizal Marlias</td>
          <td>Putrajaya</td>
          <td>RM10,100</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Matthew Davies</td>
          <td>Putrajaya</td>
          <td>RM10,050</td>
        </tr>
      </tbody>
    </table>
  
  </div>