<app-navbar></app-navbar>

<div class="container">

    <img src="assets/image3.jpg" class="rounded mx-auto d-block" alt="..." width="300px">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Unit(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dell XPS</td>
                <td>6000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Dell Inspiron</td>
                <td>1000</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Dell Latitude</td>
                <td>3000</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div>
            <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>



</div>